<div class="banner" style='background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.2)), url(<%= cloudinary_url(@background_photo_id, width: 1440, crop:"fill", effect: "grayscale", opacity: 20) %>);'>
  <div class="container">
      <div class="row spacer-above">
      </div>
      <div class="row">
        <div class="col-12 col-md-8 pb-4">
          <div>
            <h1 class="d-inline">Hello World!</h1>
          </div>
          <div>
            <h1 class="d-inline">I'm </h1><h1 class="elongate-text d-inline"><strong>Nathaniel</strong></h1>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="profile-picture">
            <%= cl_image_tag @profile_photo_id, size: "300x300", crop: "fill" %>
          </div>
        </div>
      </div>
      <div class="row spacer-below">
      </div>
      <div class="row pages">
        <div class="col-12 col-md-4">
          <%= link_to about_path do %>
            <h1>about</h1>
          <% end %>
        </div>
        <div class="col-12 col-md-4">
          <%= link_to works_path do %>
            <h1>works</h1>
          <% end %>
        </div>
        <div class="col-12 col-md-4">
          <%= link_to contact_path do %>
            <h1>contact</h1>
          <% end %>
        </div>
      </div>
  </div>
</div>
