<!-- Fixed Back Button -->
<%= render partial: "./components/fixed_back_button", locals: { path: root_path, label: "home" }%>

<div class="banner">
  <div class="container">
    <div class="title pt-5 text-center">
      <h1>Works</h1>
    </div>
    <div class="row">
      <div class="col-12 py-4">
      </div>
      <div class="col-12 mt-5 translate-text">
        <%= link_to works_path(anchor: 'moocoo') do %>
          <h1>moocoo</h1>
          <h5>revolutionizing make-up learning and shopping experience</h5>
        <% end %>
      </div>
      <div class="col-12 mt-5 translate-text">
        <%= link_to works_path(anchor: 'olamoves') do %>
          <h1>olamoves</h1>
          <h5>bringing the movement to you</h5>
        <% end %>
      </div>
      <div class="col-12 mt-5 translate-text">
        <%= link_to works_path(anchor: 'cocktailzilla') do %>
          <h1>cocktailzilla</h1>
          <h5>have fun with our easy-to-use databases for cocktails</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
    </div>
    <div id="moocoo" class="col-12 col-md-6 border-top">
      <h1 class="pt-5 pb-3">moocoo</h1>
      <h2 class="py-3">Overview</h2>
      <p>Lorem ipsum dolor</p>
      <h2 class="py-3">Product Background</h2>
      <p>Lorem ipsum dolor</p>
      <h2 class="py-3">Design Background</h2>
      <p>Lorem ipsum dolor</p>
      <div class="row images">
        <div class="col-12 col-md-6 py-2">
          <%= image_tag "image-phone.png", alt: "image-phone" %>
        </div>
        <div class="col-12 col-md-6 py-2">
          <%= image_tag "image-phone.png", alt: "image-phone" %>
        </div>
        <div class="col-12 col-md-6 pt-2 pb-4">
          <%= image_tag "image-phone.png", alt: "image-phone" %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3">
    </div>
    <div id="olamoves" class="col-12 col-md-6 border-top">
      <h1 class="pt-5 pb-3">olamoves</h1>
      <h2 class="py-3">Overview</h2>
      <p>Lorem ipsum dolor</p>
      <h2 class="py-3">Product Background</h2>
      <p>Lorem ipsum dolor</p>
      <h2 class="py-3">Design Background</h2>
      <p>Lorem ipsum dolor</p>
      <div class="row images">
        <div class="col-12 py-2">
          <%= image_tag "image-desktop.png", alt: "image-desktop" %>
        </div>
        <div class="col-12 py-2">
          <%= image_tag "image-desktop.png", alt: "image-desktop" %>
        </div>
        <div class="col-12 pt-2 pb-4">
          <%= image_tag "image-desktop.png", alt: "image-desktop" %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3">
    </div>
    <div id="cocktailzilla" class="col-12 col-md-6 border-top">
      <h1 class="pt-5 pb-3">cocktailzilla</h1>
      <h2 class="py-3">Overview</h2>
      <p>Lorem ipsum dolor</p>
      <h2 class="py-3">Product Background</h2>
      <p>Lorem ipsum dolor</p>
      <h2 class="py-3">Design Background</h2>
      <p>Lorem ipsum dolor</p>
      <div class="row images">
        <div class="col-12 py-2">
          <%= image_tag "image-desktop.png", alt: "image-desktop" %>
        </div>
        <div class="col-12 py-2">
          <%= image_tag "image-desktop.png", alt: "image-desktop" %>
        </div>
        <div class="col-12 pt-2 pb-4">
          <%= image_tag "image-desktop.png", alt: "image-desktop" %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
    </div>
  </div>
</div>
