<!-- Fixed Back Button -->
<%= render partial: "./components/fixed_back_button", locals: { path: root_path, label: "home" }%>

<!-- Progress Bars -->
<div class="progress active fixed-top">
  <div class="progress-bar" role="progressbar"></div>
</div>

<div class="banner">
  <div class="container">
    <div class="title pt-5 text-center">
      <h1>works</h1>
    </div>
    <div class="row">
      <div class="col-12 py-4">
      </div>
      <div class="col-12 mt-5 translate-text">
        <%= link_to works_path(anchor: 'moocoo') do %>
          <h1>moocoo</h1>
          <h5>revolutionizing make-up learning and shopping experience</h5>
        <% end %>
      </div>
      <div class="col-12 mt-5 translate-text">
        <%= link_to works_path(anchor: 'olamoves') do %>
          <h1>olamoves</h1>
          <h5>bringing the movement to you</h5>
        <% end %>
      </div>
      <div class="col-12 mt-5 translate-text">
        <%= link_to works_path(anchor: 'cocktailzilla') do %>
          <h1>cocktailzilla</h1>
          <h5>have fun with our easy-to-use databases for cocktails</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-2">
    <div class="col-12 col-md-3">
    </div>
    <div id="moocoo" class="col-12 col-md-6 border-top">
      <div class="d-flex justify-content-between align-items-center pt-5 pb-3">
        <h1>moocoo</h1>
        <%= link_to "https://moocoo-nielsantosa.herokuapp.com/", target: "blank", class: "link" do %>
          <i class="fas fa-external-link-alt"></i>
        <% end %>
      </div>
      <h2 class="py-3">Overview</h2>
      <p>Moocoo is a web application in passion economy specifically make-up industry where you can enjoy learning and shopping at one go. This is a final project done in 2 weeks during my bootcamp training at Le Wagon Singapore.</p>
      <h2 class="py-3">Product Background</h2>
      <p>Shopping the make-up product on youtube video has always been a hassle. After thousand of clicks and numerous websites to be visited, you just reached the checkout of the products you want. moocoo is here to eliminate all the hassles when learning and shopping, so you can focus more on improving your make-up skills without worrying about the shopping process!</p>
      <h2 class="py-3">Design Background</h2>
      <p>Elegance, modern, and demure is the embodiment of moocoo. moocoo wants its users to fully immersed on the flow rather than worrying about the overly complicated UI/UX. It is heavily targeted on the user journey when buying the products, while keeping the design clean and sleek.</p>
      <div class="row images">
        <% (1..5).to_a.each do |i| %>
        <div class="col-12 col-md-6 py-2">
          <%= cl_image_tag "moo#{i}", alt: "moo#{i}" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-3">
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12 col-md-3">
    </div>
    <div id="olamoves" class="col-12 col-md-6 border-top">
      <div class="d-flex justify-content-between align-items-center pt-5 pb-3">
        <h1>olamoves</h1>
        <%= link_to "https://olamoves-nielsantosa.herokuapp.com/", target: "blank", class: "link" do %>
          <i class="fas fa-external-link-alt"></i>
        <% end %>
      </div>
      <h2 class="py-3">Overview</h2>
      <p>A web application in passion economy especially yoga industry where you can enjoy on-demand yoga tutorials. This is an e-commerce project done in 1-week during my time in Le Wagon bootcamp.</p>
      <h2 class="py-3">Product Background</h2>
      <p>LOlamoves is a by-product of on-demand yoga videos. It is targeted to the yoga community that is impacted by Covid-19 - where they cannot attend the yoga classes physically. Bringing the movements to the users, olamoves can be accessed anytime, anywhere.</p>
      <h2 class="py-3">Design Background</h2>
      <p>Calm, energizing, and fresh - those adjectives are the foundation of olamoves design. The aesthetic is meant to enhance the users physical and spiritual journey with olamoves.</p>
      <div class="row images">
        <% (1..4).to_a.each do |i| %>
        <div class="col-12 py-2">
          <%= cl_image_tag "ola#{i}", alt: "ola#{i}" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-3">
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12 col-md-3">
    </div>
    <div id="cocktailzilla" class="col-12 col-md-6 border-top">
      <div class="d-flex justify-content-between align-items-center pt-5 pb-3">
        <h1>cocktailzilla</h1>
        <%= link_to "https://mister-cocktail-nielsantosa.herokuapp.com/", target: "blank", class: "link" do %>
          <i class="fas fa-external-link-alt"></i>
        <% end %>
      </div>
      <p>Cocktailzilla is an assignment from Le Wagon Singapore for creating a cocktail databases using Ruby on Rails framework. Users can find, add, or edit the cocktails they found on the database!</p>
      <h2 class="py-3">Design Background</h2>
      <p>Cocktailzilla believes in being minimalist and simple. It is modest because it is just a databases. The design is targeted to give the users the ease of finding and viewing. It does not want to overcomplicate a simple database.</p>
      <div class="row images">
        <div class="col-12 py-2">
          <%= cl_image_tag "cock1", alt: "cock1" %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
    </div>
  </div>
  <div class="row py-3">
  </div>
</div>
