<!DOCTYPE html>
<html>
  <head>
    <title>RailsProfile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- <meta name="turbolinks-cache-control" content="no-cache"> -->
  </head>

  <body data-turn-enter="fade-in-up" data-turn-exit="fade-out-up">
    <%= yield %>
  </body>
</html>
